@use "variables" as v;

.social {
  h2 {
    margin: 0;
    color: v.$orange;
    font-weight: 700;
    font-size: 2rem;
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      display: flex;
      place-items: center;
      a {
        color: white;
        font-weight: 500;
        text-decoration: none;
      }
      img {
        margin: 5px;
        width: 24px;
      }
    }
  }
}
