@use "variables.module" as v;
@use "helpers/shadow" as s;
@use "sass:color";

.body {
  column-gap: 1.5rem;
  column-count: 2;

  @media screen and (max-width: 1023px) {
    column-count: 1;
  }
}

.card {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  padding: 16px 32px;
  width: 100%;

  line-height: 1.5;

  @media screen and (max-width: 425px) {
    margin-bottom: 1rem;
  }

  h2,
  p,
  ul {
    margin: 0;
  }

  h2 {
    font-weight: 400;
    font-size: 2.5rem;

    @media (max-width: 425px) {
      font-size: 2rem;
    }
  }

  h3 {
    margin-bottom: 0;
  }

  ul {
    padding-top: 8px;
    li {
      padding: 4px 16px;
    }
    li::marker {
      color: v.$orange-400;
    }
  }

  a {
    color: v.$orange-400;
    &:visited {
      color: v.$orange-300;
    }
  }

  small {
    display: block;
    font-size: 0.9rem;
  }
}
