@use "variables" as v;
@use "helpers/shadow" as s;

.wrapper {
  display: contents;
}

.title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  gap: 1.5rem;

  h1 {
    flex-grow: 1;
    margin: 0;
    font-weight: 300;
    font-size: calc(1rem + 3.5vw);
    text-align: center;

    @media screen and (max-width: 1024px) {
      font-size: calc(1rem + 3vw);
    }

    @media screen and (max-width: 425px) {
      font-size: calc(2rem + 2vw);
    }
  }

  .photo {
    flex-shrink: 0;
    border-radius: 16px;

    img {
      max-width: 18vw;
      max-height: 18vw;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  border-radius: 16px;
  background-color: v.$orange;
  padding: 0;
  width: 100%;

  list-style: none;
  li {
    display: flex;
    align-items: center;
    margin: 8px 16px;

    svg {
      margin-right: 8px;
    }
    a {
      color: v.$white;
    }
  }
}
