@use "variables" as v;
@use "helpers/shadow" as s;

%card {
  border-radius: v.$borderRadius;
  background-color: #141414;
}

.resume {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;

  a {
    transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
    border-bottom: solid 1px;
    text-decoration: none;

    &:hover {
      border-color: transparent;
    }
  }

  @media screen and (max-width: 425px) {
    gap: 16px;
    width: 90%;
  }
}
