@use "variables.module" as v;
@use "sass:color";

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.label {
  color: v.$transparent-700;
  font-size: 16px;
}

.input {
  transition:
    border-color 0.2s,
    box-shadow 0.2s,
    background-color 0.2s;
  outline: none;
  border: 1px solid v.$transparent-200;
  border-radius: v.$borderRadius;

  background-color: v.$transparent-50;
  padding: 12px 14px;
  width: 100%;

  color: v.$neutral-50;
  font-size: 14px;

  &::placeholder {
    color: v.$transparent-300;
  }

  &:hover {
    background: v.$transparent-100;
  }

  &:focus {
    box-shadow: 0 0 0 3px color.change(v.$orange-400, $alpha: 0.2);
    border-color: v.$orange-400;
    background: v.$transparent-200;
  }
}

textarea.input {
  min-height: 240px;
  resize: none;
}
