@use "variables" as v;
@use "helpers/shadow" as s;
@use "sass:color";

.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  border-radius: v.$borderRadius * 2;
  padding: 0.5rem 1rem;
  font-weight: 700;

  text-wrap: nowrap;
}

.contained {
  background-color: v.$white;
  color: black;
  @include s.shadow(3, true);
  &:hover {
    background-color: color.adjust(v.$white, $lightness: -10%);
  }
  &:active {
    background-color: color.adjust(v.$white, $lightness: -20%);
  }
}

.outlined {
  @extend .text;
  border: 2px solid rgba(160, 160, 160, 0.2);
}

.text {
  color: color.adjust(v.$blue, $lightness: 35%);
  &:hover {
    background-color: #ffffff10;
  }
  &:active {
    background-color: #ffffff1a;
  }
}
