@use "variables.module" as v;
@use "helpers/shadow" as s;
@use "sass:color";

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  border-radius: v.$borderRadius;
  padding: 0.5rem 1rem;

  color: v.$neutral-200;

  font-weight: 700;
  text-wrap: nowrap;

  a {
    color: v.$neutral-200;
  }

  svg {
    fill: v.$neutral-200;
  }
}

.contained {
  background-color: v.$orange-600;
  @include s.shadow(3, true);

  color: v.$neutral-100;
  a {
    color: v.$neutral-100;
  }
  svg {
    fill: v.$neutral-100;
  }

  &:hover {
    background-color: v.$orange-700;
  }
  &:active {
    background-color: v.$orange-800;
  }
}

.outlined {
  border: 2px solid v.$transparent-300;

  &:hover {
    background-color: v.$transparent-100;
  }
  &:active {
    background-color: v.$transparent-200;
  }
}

.text {
  color: v.$blue-200;

  &:hover {
    background-color: v.$transparent-100;
  }
  &:active {
    background-color: v.$transparent-200;
  }
}
