@use "../1-helpers/media" as m;
@use "../1-helpers/variables" as v;
@use "../3-globals/glob";
@use '../4-layouts/header';

body {
  background-image: url("../images/power.webp");
  background-color: v.$darkGray;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  min-width: fit-content;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  place-content: center;
}
