@use "variables" as v;

.social {
  h2 {
    margin: 0;
    font-size: 2em;
    font-weight: 700;
    color: v.$orange;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      display: flex;
      place-items: center;
      a {
        text-decoration: none;
        color: white;
        font-weight: 500;
      }
      img {
        width: 24px;
        margin: 5px;
      }
    }
  }
}
