@use "../1-utils/glob" as h;

@mixin card($outlined: false, $elevation: 3, $elevate: false, $transparent: true) {
  box-sizing: border-box;

  @if $outlined {
    background-color: rgba($color: white, $alpha: 0.05);
    border: 1px solid #e0e0e0;
  } @else {
    @include h.shadow($elevation, $elevate);
    @if $transparent {
      background-color: rgba($color: white, $alpha: 0.07);
    } @else {
      background-color: h.$darkGray;
    }
    border-radius: 8px;
  }

  .cardTitle {
    margin: 0;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
  }

  p {
    font-size: 0.875rem;
  }
}
