.page {
  background-color: #ffffff;
  padding: 30px;
  color: #0e0e0e;

  h1 {
    margin-top: 0;
  }

  h3 {
    margin: 0;
  }

  %text {
    font-size: large;
  }

  p {
    @extend %text;
    margin: 5px;
  }

  li {
    @extend %text;
    margin-bottom: 10px;
  }

  small {
    display: block;
    font-size: 0.9em;
  }

  ul {
    margin-top: 6px;
  }

  @media screen and (min-width: 768px) {
    margin: 50px;
    box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    padding: 90px;
  }
}

.background {
  display: contents;

  @media screen and (min-width: 768px) {
    display: block;
    background-color: #d1d1d1;
  }
}
