.iconLink {
  border: none;
  text-decoration: none;

  img {
    margin: 8px;
    border-radius: 50%;
    padding: 8px;

    &:hover {
      background-color: #0000002d;
    }
    &:active {
      background-color: #00000065;
    }
  }
}
