@use "variables" as v;
@use "helpers/shadow" as s;

%card {
  border-radius: 16px;
  background-color: #141414;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 80%;

  a {
    transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
    border-bottom: solid 1px;
    text-decoration: none;

    &:hover {
      border-color: transparent;
    }
  }
}

.body {
  column-gap: 32px;
  column-count: 2;

  @media screen and (max-width: 768px) {
    column-count: 1;
  }

  > article {
    @extend %card;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 32px;
    padding: 32px;
    width: 100%;

    line-height: 1.5;

    h2,
    p,
    ul {
      margin: 0;
    }

    h2 {
      // border-bottom: 1px solid;
      // padding: 8px 0;

      font-weight: 400;
      font-size: calc(0.8em + 100% + 1vw);

      // text-align: center;
    }

    h3 {
      margin-bottom: 0;
    }

    ul {
      padding-top: 8px;
      li {
        padding: 4px 16px;
      }
    }

    a {
      color: v.$orange;
      &:visited {
        color: lighten($color: v.$orange, $amount: 10);
      }
    }

    small {
      display: block;
      font-size: 0.9em;
    }
  }
}
