@use "helpers/shadow" as s;
@use "variables" as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: auto;

  padding: 0 10vw;
  width: 100%;
  height: 96px;

  @media (max-width: 1023px) {
    background-color: black;
  }
}

.logoContainer {
  height: min-content;
}

.desktopNav {
  display: flex;
  gap: 48px;

  ul {
    display: contents;
  }

  li {
    list-style: none;
    &.active > a {
      color: v.$orange;
    }
  }

  a {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;

    text-transform: uppercase;

    &:hover {
      color: v.$orange;
    }
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.sidebarButton {
  display: none;

  svg {
    width: 36px;
  }

  @media (max-width: 1023px) {
    display: block;
  }
}
