@use "variables" as v;
@use "helpers/shadow" as s;

.sideBar {
  display: none;
  position: fixed;

  top: 96px;
  bottom: 0;
  left: -100%;

  transform: translateX(0);
  transition: transform v.$animeTimeFunction v.$animeDuration;

  margin: 0;
  background-color: black;
  padding: 0;

  width: 100%;

  &.open {
    transform: translateX(100%);
  }

  li {
    transition: color v.$animeTimeFunction v.$animeDuration;
    list-style: none;
    &.active {
      a {
        color: v.$orange;
      }
    }

    a {
      display: block;
      padding: 20px;

      color: white;
      font-weight: 500;
      font-size: 1.2rem;
      text-align: left;
      text-decoration: none;

      text-transform: uppercase;

      &:hover {
        color: v.$orange;
      }
    }
  }

  @media (max-width: 1023px) {
    display: block;
  }
}
