@use "../helpers/shadow" as s;

@mixin card($outlined: false, $elevation: 3, $elevate: false) {
  box-sizing: border-box;

  @if $outlined {
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
  } @else {
    @include s.shadow($elevation, $elevate);

    border-radius: 4px;
  }

  .cardTitle {
    margin: 0;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
  }

  p {
    font-size: 0.875rem;
    color: #161616;
  }
}
