@use "cards" as c;
@use "buttons" as b;
@use "../helpers/media" as m;
@use "../helpers/variables" as v;

.dialog {
  @include c.card();
  position: fixed;
  left: 50px;
  bottom: 40px;
  z-index: 1;

  width: 400px;
  padding: 16px;
  transition: opacity v.$animeTime;

  h2 {
    @extend .cardTitle;
  }

  .actions {
    @extend .mdc-card__actions;
    button {
      @include b.button(text);
      @extend .mdc-card__action;
      @extend .mdc-card__action--button;
    }
  }

  @include m.forMedium() {
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
