@use "cards" as c;
@use "buttons" as b;
@use "../helpers/media" as m;
@use "../helpers/variables" as v;

.dialog {
  @include c.card();
  background-color: #424242;
  position: fixed;
  left: 50px;
  bottom: 40px;
  z-index: 1;

  width: 400px;
  padding: 16px;
  transition: opacity v.$animeTime;

  h2 {
    margin: 0;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    min-height: 52px;
    padding: 8px;
    button {
      @include b.button(text);
    }
  }

  @include m.forMedium() {
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
