@use "variables.module" as v;

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;

  min-width: 320px;
  min-height: 100vh;

  scroll-behavior: smooth;

  color: v.$neutral-50;
}

* {
  box-sizing: border-box;
}

svg {
  fill: v.$neutral-50;
  width: 24px;
}

button {
  all: unset;
  cursor: pointer;
  text-align: center;
}
