@use "_roboto";
@use "variables" as v;

html,
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: white;

  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

button {
  all: unset;
  cursor: pointer;
  text-align: center;
}
