@use "variables" as v;
@use "helpers/shadow" as s;

.dialog {
  position: fixed;
  bottom: 2rem;
  left: 4rem;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 1rem;

  width: 400px;
  @include s.shadow(3);
  border: 1px solid #ffffff29;
  background-color: #101012;

  h2 {
    margin: 0;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  div {
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (max-width: 768px) {
    bottom: 0;
    left: 0;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
  }

  opacity: 0;
  transition: opacity v.$animeTimeFunction v.$animeDuration;

  &.show {
    opacity: 1;
  }
}
