@use "../1-utils/glob" as h;

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 100%;

  color: white;
}

h1 {
  font-weight: 300;
  font-size: h.pxToEm(96);
}

h2 {
  font-weight: 300;
  font-size: h.pxToEm(60);
}

/*
h3 {
  font-weight: 400;
  font-size: h.pxToEm(48);
}

h4 {
  font-weight: 400;
  font-size: h.pxToEm(34);
}

h5 {
  font-weight: 400;
  font-size: h.pxToEm(24);
}

h6 {
  font-weight: 500;
  font-size: h.pxToEm(20);
}
*/
