@use "helpers/shadow" as s;
@use "variables" as v;

.header {
  display: flex;
  justify-content: center;
  height: 100px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 85%;

    button {
      display: none;
    }

    .screenDarkener {
      opacity: 0;
      cursor: default;
    }
  }

  @media screen and (max-width: 768px) {
    background-color: black;
    @include s.shadow(6);

    nav {
      width: 90%;
      justify-content: center;

      .sidenavTrigger {
        display: block;
        position: absolute;
        left: 5%;
      }
    }
  }
}

.navLinks {
  display: flex;
  gap: 40px;
  li {
    list-style: none;
    transition: color 0.3s;
    a {
      font-size: 1.2em;
      font-weight: 500;
      padding: 10px;

      text-transform: uppercase;
      text-decoration: none;
      color: white;

      &:hover {
        color: v.$orange;
      }
    }

    &.active {
      a {
        color: v.$orange;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 300px;

    top: 0;
    bottom: 0;
    z-index: 10;
    left: -300px;

    @include s.shadow(24);
    background-color: #111111;

    li {
      padding: 0;
      transition: background-color 0.3s;

      a {
        display: block;
        box-sizing: border-box;
        padding: 20px;
        width: 300px;
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.2);
        a {
          color: white;
        }
      }
    }
  }
}
