@use "variables" as v;
@use "helpers/shadow" as s;

.screenDarkener {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9;
  left: 0;
  top: 0;

  cursor: default;
  background-color: black;

  .enter & {
    opacity: 0;
  }
  .enterActive & {
    opacity: 0.2;
    transition: opacity v.$animeTimeFunction v.$animeDuration;
  }
  .enterDone &,
  .exit & {
    opacity: 0.2;
  }
  .exitActive & {
    opacity: 0;
    transition: opacity v.$animeTimeFunction v.$animeDuration;
  }
}

.sideBar {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 300px;

  left: -300px;
  top: 0;
  bottom: 0;
  z-index: 10;

  @include s.shadow(24);
  background-color: #111111;

  .enter & {
    transform: translateX(0);
  }
  .enterActive & {
    transform: translateX(300px);
    transition: transform v.$animeTimeFunction v.$animeDuration;
  }
  .enterDone &,
  .exit & {
    transform: translateX(300px);
  }
  .exitActive & {
    transform: translateX(0);
    transition: transform v.$animeTimeFunction v.$animeDuration;
  }

  li {
    list-style: none;

    transition: background-color 0.3s;
    &.active {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }

    a {
      display: block;
      padding: 20px;
    }
  }
}
