@use "variables" as v;
@use "helpers/shadow" as s;

.screenDarkener {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9;

  cursor: default;
  background-color: black;

  opacity: 0.2;
  transition: opacity v.$animeTime;
}

.sideBar {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 300px;

  top: 0;
  bottom: 0;
  left: 0;
  //left: -300px;
  z-index: 10;

  @include s.shadow(24);
  background-color: #111111;

  li {
    list-style: none;

    transition: background-color 0.3s;
    &.active {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }

    a {
      display: block;
      padding: 20px;
      width: 300px;
    }
  }
}
