@use "variables" as v;

.screenDarkener {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9;
  left: 0;
  top: 0;

  cursor: default;

  &.enter {
    background-color: transparent;
  }
  &.enterActive {
    background-color: hsla(0, 0%, 0%, 0.8);
    transition: background-color v.$animeTimeFunction v.$animeDuration;
  }
  &.enterDone,
  &.exit {
    background-color: hsla(0, 0%, 0%, 0.8);
  }
  &.exitActive {
    background-color: transparent;
    transition: background-color v.$animeTimeFunction v.$animeDuration;
  }
}
