@use "variables.module" as v;
@use "helpers/shadow" as s;
@use "sass:color";

.card {
  @include s.shadow(3);
  border-radius: v.$borderRadius;

  p,
  li {
    color: v.$neutral-300;
  }
}

.filled {
  background-color: v.$neutral-900;
}

.outlined {
  border: 1px solid v.$transparent-200;
  background-color: v.$neutral-950;
}
