@use "variables" as v;
@use "helpers/shadow" as s;

.card {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  @include s.shadow(3);
  background-color: v.$darkGray;

  width: 330px;
  max-width: 95vw;
  border-radius: 20px;
  overflow: hidden;
}

.text {
  margin: 16px;

  h2 {
    margin: 0;
  }
  p {
    margin: 16px 0;
  }
}

.actions {
  margin-top: auto;
  border-top: 1px solid #a0a0a033;
}
