@use "variables" as v;

.card {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  justify-content: center;

  > section {
    display: flex;
    flex-grow: 1;

    height: fit-content;
    border-radius: 24px;
    padding: 32px;
    margin: 32px;
  }
}

.grey {
  background-color: v.$darkGray;
}
.orange {
  background-color: v.$orange;
}
