@use "variables.module" as v;

.container,
.sideContent {
  display: contents;
}

@media (min-width: 1280px) {
  .container {
    display: flex;
    margin: 0 32px;
  }

  .sideContent {
    display: block;
    margin-left: 64px;

    section > ul {
      justify-content: left !important;
      max-width: 768px;
    }
  }

  .title {
    margin-bottom: 32px;
    text-align: left;
  }
}
