@use "variables" as v;

.title {
  background-color: v.$translucentBlack;
  box-sizing: border-box;
  padding: 64px 16px;
  margin: 32px 0;
  width: 100%;

  font-size: calc(1.2em + 100% + 4vw);
  font-weight: 300;
  text-align: center;
  color: white;
}
