@use "variables" as v;

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;

  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 2rem;
  }

  button {
    margin-left: auto;
  }

  div {
    display: flex;
    gap: 16px;

    @media screen and (max-width: 425px) {
      flex-direction: column;
    }
  }
}
