@use "../1-helpers/glob" as h;

@use "../2-basics/cards" as c;
@use "../2-basics/buttons" as b;

.dialog {
  @include c.card();
  background-color: #424242;
  position: fixed;
  left: 50px;
  bottom: 40px;
  z-index: 1;

  width: 400px;
  padding: 16px;
  transition: opacity h.$animeTime;

  h2 {
    @extend .cardTitle;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    min-height: 52px;
    padding: 8px;
    button {
      @include b.button(text);
    }
  }

  @include h.forMedium() {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}
