@use "../1-helpers/variables" as v;
@use "../1-helpers/functions" as f;
@use "../1-helpers/shadow" as s;
@use "../1-helpers/media" as m;

.standardHeader {
  display: flex;
  place-content: center;
  height: 100px;

  a {
    border-bottom: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 85%;

    .logoContainer {
      display: block;
      width: 70px;
    }

    .navLinks {
      display: flex;
      li {
        list-style: none;
        transition: color 0.3s;
        padding-left: 30px;
        a {
          font-size: f.pxToEm(19);
          font-weight: 500;
          padding: 10px;
          text-transform: uppercase;
          color: white;
        }

        &.active {
          a {
            color: v.$orange;
          }
        }
      }
    }

    button {
      all: unset;
      display: none;
    }

    .screenDarkener {
      opacity: 0;
    }
  }

  @include m.forMedium() {
    background-color: black;
    @include s.shadow(6);
    nav {
      width: 90%;

      .logoContainer {
        width: 60px;
        margin: auto;
      }

      .sidenavTrigger {
        all: unset;
        position: absolute;
        cursor: pointer;
        color: white;
        img {
          width: f.pxToEm(30);
        }
      }

      .navLinks {
        display: block;
        position: fixed;
        margin: 0;
        padding: 0;
        width: 300px;

        top: 0;
        bottom: 0;
        z-index: 10;
        left: -300px;

        @include s.shadow(24);
        background-color: #111111;

        li {
          padding: 0;
          transition: background-color 0.3s;

          a {
            display: block;
            box-sizing: border-box;
            padding: 20px;
            width: 300px;
          }

          &.active {
            background-color: rgba(0, 0, 0, 0.2);
            a {
              color: white;
            }
          }
        }
      }
    }
  }
}
