@use "../1-utils/glob" as h;

.standardHeader {
  nav {
    .navLinks {
      li {
        a {
          &:hover {
            color: h.$orange;
          }
        }
      }
    }

    .screenDarkener {
      display: block;
      position: fixed;
      visibility: collapse;

      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 9;

      background-color: black;
      transition: visibility 0s, opacity h.$animeTime;
    }
  }

  @include h.forMedium() {
    nav {
      .navLinks {
        transition: transform h.$animeTime;
        li {
          &:hover {
            background-color: rgba(0, 0, 0, 0.3);
            a {
              color: white;
            }
          }
        }
      }
    }
  }
}
