@use '../utils/variables' as v;
@use '../utils/shadow' as s;

.card{
  @include s.shadow(8);
  background-color: v.$primaryColor;
  color: v.$primaryColorText;
  border-radius: 4px;
  padding: 24px;
}