@use 'modules/functions' as f;
@use 'modules/shadow' as s;
@use 'modules/fonts';

%button{
  all: unset;

  @extend .robotoFont;
  @include s.shadow(4);

  border-radius: 4px;

  text-align: center;
  font-size: f.pxToEm(25);
  font-weight: 500;
  letter-spacing: 1.25px;

  text-transform: uppercase;
  vertical-align: middle;

  background-color: #eceff1;
  color: black;

  &:hover, &:focus{
    background-color: #cfd8dc;
  }

  &:active{
    background-color: #78909c;
  }
}