@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.robotoFont{
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 100%;
  font-display: swap;
}