@charset "utf-8";
@use 'fonts';
@use 'navbar';
@use 'variables' as v;
@use 'shadow' as s;

body{
  @extend .robotoFont;

  margin: 0px;
  height: 100%;
  width: 100%;
  background-image: url("../images/chemistry.webp");
  background-color: v.$accentColor;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.grid{
  display: grid;
  grid: v.$headerHeight auto / auto;
  grid-template-areas: "header"
                       "main";
  width: 100vw;
  height: 100vh;
}

header{
  grid-area: header;
}

main{
  grid-area: main;
  align-self: center;
}