@use 'modules/init.scss';
@use 'modules/centerCard';
@use 'modules/button';
@use 'modules/variables' as v;
@use 'modules/functions' as f;

.centerCard{
  display: grid;
  grid-template-columns: repeat(4, 10vh);
  grid-template-rows: repeat(5, 8vh);
  gap: 10px;

  background-color: white;
}

.display{
  grid-column-start: 1;
  grid-column-end : 5;

  overflow: hidden;
  border-bottom: solid;
  border-color: v.$accentColor;
  #displayText{
    float: right;
    font-size: f.pxToEm(30);
    color: black;
  }
}

.number{
  @extend %button;
}

.opera{
  @extend %button;
  font-size: f.pxToEm(30);
  background-color: #b0bec5;

  &:hover, &:focus{
    background-color: #90a4ae;
  }

  &:active{
    background-color: #607d8b;
  }
}

#equal{
  @extend .opera;
  font-size: f.pxToEm(40);
  background-color: #03a9f4;
  grid-column: 2 / 4;

  &:hover, &:focus{
    background-color: #039be5;
  }

  &:active{
    background-color: #0288d1;
  }
}