@use 'modules/init.scss';
@use 'modules/centerCard';
@use 'modules/functions' as f;
@use 'modules/variables' as v;

.centerCard{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "title description";
  align-content: space-around;

  width: 60%;
  height: fit-content;
  @media screen and (max-width: v.$breakMedium){
    width: 80%;

    grid-template-columns: 100%;
    grid-template-rows: 50%;
    grid-template-areas: "title"
                         "description";
  }
}

h1{
  grid-area: title;
  align-self: center;
  margin: 0px;
}

p{
  grid-area: description;
  align-self: center;

  text-align: justify;
  font-size: 30px;
  font-weight: 400
}