@use 'modules/init.scss';
@use 'modules/centerCard';
@use 'modules/button';
@use 'modules/textField';
@use 'modules/variables' as v;
@use 'modules/functions' as f;

.centerCard{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  background-color: white;
  color: black;
}

#loginForm{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;

}

#icon{
  font-size: f.pxToEm(120);
  color: v.$primaryColor;
}

#login{
  @extend %button;
  padding: 16px;
  font-size: f.pxToEm(14);
  color: white;
  background-color: #03a9f4;

  &:hover, &:focus{
    background-color: #039be5;
  }

  &:active{
    background-color: #0288d1;
  }
}