@charset "utf-8";
@import url('/node_modules/materialize-css/dist/css/materialize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  font-family: Roboto, sans-serif;
  font-display: swap;
}

body{
  height: 100%;
  width: 100%;
  background-image: url("../images/chemistry.webp");
  background-color: #ff5722;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav{
  font-weight: bold;
}

#nav-desktop{
  .active{
    box-shadow: inset 0px -4px white;
  }
}

#logo-container{
  .text-large{
    font-size: 2em;
  }
}

.title{
  background-color: #212121;
  border-radius: 20px;
  padding: 2vw;
  margin-top: 20vh;
}

.justify{
  text-align: justify;
}