@charset "utf-8";
@use 'modules/fonts';
@use 'modules/navbar';
@use 'modules/colors' as c;

body{
  @extend .robotoFont;

  margin: 0px;
  height: 100%;
  width: 100%;
  //background-image: url("../images/chemistry.webp");
  background-color: c.$accentColor;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title{
  background-color: c.$primaryColor;
  border-radius: 20px;
  padding: 2vw;
  margin-top: 20vh;
}

.justify{
  text-align: justify;
}