@use "../globals/glob";
@use '../layouts/header';

@use "../helpers/media" as m;
@use "../helpers/variables" as v;

body {
  background-image: url("../images/power.webp");
  background-color: v.$darkGray;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  width: fit-content;
  flex-direction: column;
}

main {
  display: flex;
  flex-grow: 1;
  place-items: center;
}
