.page {
  background-color: #ffffff;
  padding: 32px;
  color: #0e0e0e;

  p {
    margin: 8px 0;
    font-size: large;
  }

  @media screen and (min-width: 768px) {
    margin: 48px;
    box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    padding: 96px;
  }
}

.background {
  display: contents;

  @media screen and (min-width: 768px) {
    display: block;
    background-color: #d1d1d1;
  }
}
