@use "variables.module" as v;

@page {
  size: A4;
  margin: 3cm 2cm 2cm 3cm;
}

.background {
  display: contents;

  @media screen and (min-width: 768px) {
    display: block;
    background-color: v.$neutral-300;
  }
}

.page {
  background-color: v.$neutral-00;
  padding: 32px;
  color: v.$neutral-900;

  @media print {
    padding: 0;

    a {
      cursor: default;
      pointer-events: none;
      color: inherit;
      text-decoration: none;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 48px;
    box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    padding: 96px;
  }
}

.page {
  h1,
  h2,
  h3,
  ul {
    margin: 0;
  }

  h1,
  h2 {
    margin-bottom: 4px;
  }

  h3 {
    margin-top: 4px;
  }

  header,
  article {
    break-inside: avoid;
    margin-bottom: 24px;
  }

  p,
  li {
    margin: 0;
    text-align: justify;
  }

  p + p,
  li + li {
    margin-top: 8px;
  }

  small {
    display: block;
    font-size: 0.9rem;
  }
}
