@charset "utf-8";

@use "../2-globals/roboto";

body {
  font-family: Roboto, sans-serif;
}

#page {
  background-color: #ffffff;
  color: #0e0e0e;
  padding: 30px;
}

h1 {
  margin-top: 0;
}

%text {
  font-size: large;
}

p {
  @extend %text;
  margin: 5px;
}

li {
  @extend %text;
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  body {
    background-color: #d1d1d1;
    margin: 50px;
  }

  #page {
    box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    padding: 90px;
  }
}
