@use "../1-helpers/glob" as h;

@use "../2-basics/cards" as c;

@use "../4-layouts/title";

@use "../5-base/default";

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  article {
    @include c.card($transparent: false);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 330px;
    margin: 30px;
    border-radius: 20px;
    overflow: hidden;

    .image {
      height: 200px;
      overflow: hidden;
      display: flex;
      place-content: center;

      img {
        width: auto;
        height: 100%;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin: 16px;

      h2 {
        @extend .cardTitle;
        margin: 0;
      }
      p {
        margin: 16px 0;
      }
    }

    .actions {
      border-top: 1px solid rgba(160, 160, 160, 0.2);
      a {
        text-decoration: none;
        border: none;
        img {
          width: 35px;
          margin: 16px;
        }
      }
    }

    @include h.forSmall() {
      margin: 10px;
    }
  }
}
