@use "variables" as v;
@use "helpers/shadow" as s;

.dialog {
  box-sizing: border-box;
  position: fixed;
  left: 64px;
  bottom: 32px;

  width: 400px;
  padding: 16px;
  border-radius: 8px;
  @include s.shadow(3);
  background-color: #424242;

  h2 {
    margin: 0;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  div {
    display: flex;
  }

  @media screen and (max-width: 768px) {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  &.show {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
    transition: opacity v.$animeTimeFunction v.$animeDuration;
  }
  &.none {
    display: none;
  }
}
