.body {
  h3 {
    margin: 8px 0;
  }

  small {
    display: block;
    margin: 4px 0;
    font-size: 0.9rem;
  }

  ul {
    margin-top: 6px;
  }

  li {
    margin-bottom: 12px;
    font-size: large;
  }
}
