.iconLink {
  text-decoration: none;
  border: none;

  img {
    margin: 8px;
    padding: 8px;
    border-radius: 50%;

    &:hover {
      background-color: #0000002d;
    }
    &:active {
      background-color: #00000065;
    }
  }
}
