@use "variables" as v;

.presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 32px;
  gap: 32px;

  background-color: v.$translucentBlack;
}

.presentationText {
  color: white;

  %text {
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 20px;
  }

  h1 {
    @extend %text;
    font-size: 3.75em;
    color: v.$orange;
  }
  p {
    @extend %text;
    font-size: 1.5em;
  }
}
